<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>PrefVersion</key>
  <string>3.5</string>
  <key>SetLocaleEnvironmentVariable</key>
  <true/>
  <key>Use Lion Full Screen</key>
  <true/>
  <key>OpenArrangementAtStartup</key>
  <false/>
</dict>
</plist>