[user]
	name = Your Name
	email = you@example.com

[core]
	editor = micro
	excludesFile = ~/.gitignore_global
	pager = less -FRX

[init]
	defaultBranch = main

[pull]
	rebase = false

[fetch]
	prune = true

[push]
	default = simple

[alias]
	st = status -sb
	co = checkout
	br = branch
	cm = commit
	ca = commit --amend
	l = log --oneline --graph --decorate --all
	last = log -1 --stat
	diffc = diff --cached
	undo = reset --soft HEAD~1
	lg = log --oneline --graph --decorate --all
