[user]
	name = Tanju Yıldız
	email = ben@tanjuyildiz.com

[core]
	editor = micro
	excludesFile = ~/.gitignore_global
	pager = less -FRX
	compression = 0
	packedGitLimit = 512m
	packedGitWindowSize = 512m

[init]
	defaultBranch = main

[pull]
	rebase = false

[fetch]
	prune = true

[push]
	default = simple

[alias]
	st = status -sb
	co = checkout
	br = branch
	cm = commit
	ca = commit --amend
	l = log --oneline --graph --decorate --all
	last = log -1 --stat
	diffc = diff --cached
	undo = reset --soft HEAD~1
	lg = log --oneline --graph --decorate --all

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
